global-include *.xpm
global-include *.png
global-include *.svg

recursive-include data *
recursive-include kang *.kng

include .coveragerc
include TODO
include mynotes.rst
include .pylintrc
include setuptools_extensions.py
include LICENSE.txt
