[Desktop Entry]
Name=Kang
Comment=Visual regular expression editor
Exec=kang
Terminal=false
Icon=kang-icon
Type=Application
Categories=Development;Qt;
MimeType=application/x-kang;
